/* src/components/Contact/Contact.css */
.contact-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--secondary-accent);
  padding: 4rem 2rem;
  border-radius: 12px;
}

.contact-text {
  line-height: 1.7;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
}

.contact-button {
  display: inline-block;
  padding: 14px 28px;
  border: 2px solid var(--primary-accent);
  border-radius: 15px;
  background-color: var(--primary-accent);
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  /* transition: all 0.3s ease; */
}

.contact-button:hover {
  background-color: transparent;
  color: var(--primary-accent);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px -10px var(--shadow-color);
}